<% if status.orders.count > 0 %>
	<div class="row">
	  <div class=" pull-left">
	   <input type="search" id="search" value="" class="form-control" placeholder="Search by orders">
	  </div>
	  <div class="message"></div>
	</div>
	<div class="row" style="margin-top: 10px;">
	  <div class="col-lg-12">
	    <table class="table" id="table">
	      <thead>
	        <tr>
	          <th class="text-center">Order-id:</th>
	          <th class="text-center">User</th>
	          <th class="text-center">staus</th>
	          <th class="text-center">Placed_at/updated_at</th>
	          <th class="text-center">Action</th>
	        </tr>
	      </thead>
	      <tbody>  
		      <% status.orders.each do |order| %>
			      <% if order.user %>
			        <tr>
			          <td class="text-center" id = "single_order_<%=order.id%>"><%=order.id%></td>
			          <td class="text-center"><%=order.user.email%></td>
			          <td class="text-center"><%=order.status.name%></td>
			          <td class="text-center"><%=time_ago_in_words(order.updated_at)%></td>
			          <% if status.name == "ordered" %>
			          	<td class="text-center" > 
			          		<%= render "order_status_form",order_id: order.id,status_id: 2 %>
			          		<%= render "order_status_form",order_id: order.id,status_id: 4 %>
			          		<%=link_to "details",details_path(order.id),class: "btn btn-info btn-xs"%>  
			          	</td>
			          <% elsif status.name == "paid" %>
			          	<td class="text-center"> 
			          		<%= render "order_status_form",order_id: order.id,status_id: 3 %>
			          		<%= render "order_status_form",order_id: order.id,status_id: 4 %>  
			          	  <%=link_to "details",details_path(order.id),class: "btn btn-info btn-xs"%>
			          	</td>
			          <% else %>
			          	<td class = "text-center">
			          		<%=link_to "details",details_path(order.id),class: "btn btn-info btn-xs"%>
			          	</td>
			          <% end %>
			        </tr>
			      <% end %>
		      <% end %>
	      </tbody>
	    </table>
	  </div>
	</div>
<% else %>
 <center> <h6>no orders under this status</h6> </center>
<% end %>