<style type="text/css">
  .tabbable-panel {
    border:2px solid #337ab7 ;

    padding: 10px;

  }
  .table {
    border:2px solid #337ab7 ;    
  }
  .tabbable-line > .nav-tabs {
    border: 0;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #337ab7;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #337ab7;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  .btn {
    display: inline;
  }
  @media (max-width: 1500px) {
    .item_index {
      width: 1000px;

      top : 50px;
    }
  }
  
</style>
<script type="text/javascript">
  $(function () {
    $( '.table' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }

    $(".order_nav a").click(function() {
       localStorage.setItem('lastTab', $(this).attr('href'));
       location.reload();
    });
});
</script>

<div class="container item_index">
  <div class="row">
    <div class="col-md-12">
      <h3>orders</h3>
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs order_nav">
            <% @statuses.each_with_index do |status,i| %>
              <% if i == 0 %>
                <li class="active">
                  <a href = "#tab_default_<%=status.id%>" data-toggle="tab">
                    <%=status.name%>
                  </a>
                </li>
              <% else %>
                <li>
                  <a href = "#tab_default_<%=status.id%>" data-toggle="tab">
                    <%=status.name%>
                  </a>
                </li>
              <% end %>    
            <% end %>
            <li>
              <a href = "#tab_default_unknown" data-toggle="tab">
                unknown
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <% @statuses.each_with_index do |status,i| %>
              <% if i == 0 %>
                <div class="tab-pane active fade in" id="tab_default_<%=status.id%>">
                  <%= render "single_order",status: status%>
                </div> 
              <% else %>    
                <div class="tab-pane fade" id="tab_default_<%=status.id%>">
                  <%= render "single_order",status: status%>
                </div> 
              <% end %>
            <% end %>
            <div class="tab-pane fade" id="tab_default_unknown">
              <%= render "unknown_order" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
