<div class = "container registration" style="margin-left: 500px">
	<div class = "row reg-form">
    <div class="col-md-12">
    	<div class = "panel panel-primary">
    		<div class = "panel-heading">
    			<% if flash[:notice] %>
      	 		<div class="notice"><%= flash[:notice] %></div>
        	<% end %>
        	<h4> user registration page </h4>
        </div>	
        <%= form_for(@user, url: users_path) do |f| %>
   				<strong>username:</strong>
   				<div class="form-group">
   					<%= f.text_field :full_name,placeholder: "enter user name",class: "form form-control" ,required: true%>
   				</div>
   				<strong>displayname:</strong> 
   				<div class="form-group">
   					<%= f.text_field :display_name,placeholder: "enter display name (optional)",class: "form form-control"%>

   				</div>
   				<strong>email:</strong> 
   				<div class="form-group">
   					<%= f.email_field :email,placeholder: "enter email",class: "form form-control",required: true%>
   				</div>
   				<strong>password:</strong>
   				<div class="form-group"> 
   					<%= f.password_field :password,placeholder: "enter password",class: "form form-control",required: true %>
   				</div>
   				<strong>confirm password:</strong>
   				<div class="form-group">
   					<%= f.password_field :password_confirmation,placeholder: "reenter password ",class: "form form-control",required: true %>
   				</div>
          <% if current_user&&current_user.is_admin%>
            <strong>Make Admin</strong>
            <div class="form-group">
              <%=f.check_box :is_admin,style: "margin-left: 80px"%>
            </div>
          <% end %>	
   				<strong>image:</strong> 
   				 <%= f.file_field :image,class: "form-control input-sm"%><br>
   				<%=f.submit "register" ,class: "btn btn-success btn-block"%><br>
   			<%end%>
      </div>
 		</div>
	</div>
</div>