<div class="tab-pane active fade in" id="tab_default_<%=category.id%>">
  <table class="table table-hover" id="dev-table">
    <thead>
      <tr>
        <th>item</th>
        <th>About item</th>
        <th>price</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% category.items.each do |item| %>
      <% if current_user %>
      <% if current_user.is_admin %>
      <tr>
        <% var_img = "item_images/#{item.image}" %>
        <td><%= image_tag var_img, :height => '140px', :width => '185px' %></td>
        <td><strong><%=item.name%></strong><hr><%= item.description%></td>
        <td><i class = "fa fa-rupee"><%=item.price%></i></td>
        <td><%=link_to "edit",edit_item_path(item.id),class: "btn btn-sm btn-primary"%>
          <% if item.is_available %>
          <div class="un"><%=link_to "make it unavailable",unavailableitem_path(item.id),class: "btn btn-sm btn-info", remote: true%></div>
          <% else %>
          <div class="un"><%=link_to "make it available",unavailableitem_path(item.id),class: "btn btn-sm btn-info",remote: true%></div>
          <% end %>
          <%= link_to "delete",item_path(item.id),method: :delete,data: {confirm: 'Are you sure? your admin' },class: "btn btn-sm btn-danger" %>  
        </td>
      </tr>
      <% else %>
      <tr>
        <% var_img = "item_images/#{item.image}" %>
        <td><%= image_tag var_img, :height => '140px', :width => '185px' %></td>
        <td><strong><%=item.name%></strong><hr><%= item.description%></td>
        <td><i class = "fa fa-rupee"><%=item.price%></i></td>
        <td>
          <%= form_for @item_order, remote: true do |f| %>
          <div class="input-group">
            <div class="input-group-btn">
              <%= f.hidden_field :item_id, value: item.id %>
              <%= f.hidden_field :quantity, value: 1%>
              <%= f.hidden_field :price, value: item.price %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </td>
      </tr>
      <% end %>    
      <%elsif%>
      <tr>
        <% var_img = "item_images/#{item.image}" %>
        <td><%= image_tag var_img, :height => '140px', :width => '185px' %></td>
        <td><strong><%=item.name%></strong><hr><%= item.description%></td>
        <td><i class = "fa fa-rupee"><%=item.price%></i></td>
        <td>
          <%= form_for @item_order, remote: true do |f| %>
          <div class="input-group">
            <div class="input-group-btn">
              <%= f.hidden_field :item_id, value: item.id %>
              <%= f.hidden_field :price, value: item.price %>
              <%= f.hidden_field :quantity, value: 1%>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </td>
      </tr>
      <%end%> 
      <%end%>     
    </tbody>
  </table>
</div> 