<style type="text/css">
        .tabbable-panel {
  border:3px solid #eee ;
  
  padding: 10px;

}
 
/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}


    </style>

<!--
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h3>Items 
                <% if current_user %> 
                  <% if current_user.is_admin %>  
                    <a href="items/new" class="pull-right"><button class = "btn btn-primary">ADD<i class="fa fa-plus-circle fa-lg"></i></button></a>
                  <% end %>
                <% end %>
            </h3>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs item_nav">
                        <!-- <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                            Tab 1 </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                            Tab 2 </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                            Tab 3 </a>
                        </li> -->

                        <% @categories.each_with_index do |category,i| %>
                            <% if i == 0 %>
                                <li class="active">
                                    <a href = "#tab_default_<%=category.id%>" data-toggle="tab">
                                       <%=category.name%>
                                    </a>
                                </li>
                            <% else %>
                                <li>
                                    <a href = "#tab_default_<%=category.id%>" data-toggle="tab">
                                        <%=category.name%>
                                    </a>
                                </li>
                            <% end %>    
                        <% end %>

                    </ul>
                    <div class="tab-content">
                        <% @categories.each_with_index do |category,i| %>
                            <% if i == 0 %>
                                <div class="tab-pane active fade in" id="tab_default_<%=category.id%>">
                                    
                                </div>
                            <% else %>    
                                <div class="tab-pane fade" id="tab_default_<%=category.id%>">
                                   
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

