<div class="bs-example">
  <div class="container">
     <div class="row">
        <% @items.each do |item| %>
         <div class="col-xs-3">
          <div class="thumbnail">
            <h3><%=item.name%></h3>
            <% var_img = "item_images/#{item.image}" %>
            <%= image_tag var_img, :height => '140px', :width => '185px' %><br />
              <p><%=item.description%></p>
              <a href="#"><i class="fa fa-inr"><%=item.price%></i></a><br /> 
               <div class = "buttons" >
                  <% if item.is_available%>
                   <%=link_to "make it unavailable",unavailableitem_path(item.id),class: "btn-sm btn-danger"%>
                  <% else %>
                   <%=link_to "make it available",unavailableitem_path(item.id),class: "btn-sm btn-danger"%>
                  <% end -%> 
                  <%=link_to "edit",edit_item_path(item),class: "btn-sm btn-primary"%>
                  <%= link_to 'Delete', item_path(item),method: :delete,data: { confirm: 'Are you sure? your admin' },class: "btn-sm btn-warning" %>
               </div>
         </div>
         </div>
         <% end %>
      </div>   
   </div>
</div>
                  