<div class = "container well" style = "width:500px">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <h2> create new item </h2>
 <%= form_for @item do |f| %>
  item name:  <%= f.text_field "name",placeholder: "enter item name",class: "form form-control",required: true%><br>
  item description: <%= f.text_area "description",placeholder: "enter about item",class: "form form-control",required: true%><br>
  item price:<%= f.number_field "price",placeholder: "enter price ",class: "form form-control",required: true%><br>
  select category: <%= f.collection_select "category_id",Category.all, :id,:name%><br>
  picture: <%= f.file_field "image" %><br>
  <%= f.submit "add item",class: "btn btn-success"%><br>
 <%end%>
</div>