<style type="text/css">
	.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 40px;
    font-weight: 700;
}

sup {
    top: -15px;
}

.disclosure {
    padding-top: 15px;
    font-size: 11px;
    color: #bcbcbc;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

.exp {
    color: #f34235;
}

.print {
    font-size: 14px;
    float: right;
}
</style>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default coupon">
			<div class="panel-heading" id="head">
				<div class="panel-title" id="title">
					<span> Dinner Dash </span>
					<span class="hidden-xs"><%=@item.name%></span>
					<span class="visible-xs"><%=@item.name%></span>
				</div>
			</div>
			<div class="panel-body">
				<img src="/public/images/item_images/<%=@item.image%>" class="coupon-img img-rounded">
				<div class="col-md-3">
					<div class="offer">
						<span class="fa fa-inr"><%=@item.price%></span>
					</div>
				</div>
				<div class="col-md-12">
				<p class="disclosure">
					<%=@item.description%>
				</p>
					</div>
				</div>
				<div class="panel-footer">
					<div class="coupon-code">
						<%= render "add_to_cart_form" %>
						<span class="print">
							<a href="#" class="btn btn-link"><i class="fa fa-lg fa-print"></i> Print Coupon</a>
						</span>
					</div>
					<div class="exp">Expires: Sep 30, 2016</div>
				</div>
			</div>
		</div>
	</div>