<style type="text/css">
.item{
  margin-top: 40px;
}
.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 40px;
    font-weight: 700;
}

sup {
    top: -15px;
}

.disclosure {
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

</style>
<div class="container item">
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
  		<div class="panel panel-default coupon">
  			<div class="panel-heading" id="head">
  				<div class="panel-title" id="title">
  					<span> Dinner Dash </span>
  					<span class="hidden-xs pull-left"><%=@item.name%></span>
  					<span class="visible-xs pull-left"><%=@item.name%></span>
  				</div>
  			</div>
  			<div class="panel-body">
          <% var_img = "item_images/#{@item.image}" %>
          <%= image_tag var_img,:height => '280px', :width => '185px', class: "coupon-img img-rounded" %>
          <div class="col-md-3">
           <div class="offer">
            <span class="fa fa-inr"><%=@item.price%></span>
           </div>
          </div>
          <div class="col-md-12">
           <p class="disclosure">
            <%=@item.description%>
           </p>
          </div>
        </div>
        <div class="panel-footer">
          <% if @flag == 0 %>
            <% if @item.is_available %>
              <div class="coupon-code text-center">
                <%= form_for @item_order,remote: true do |f| %>
                  <div class="input-group">
                    <div class="input-group-btn">
                      <% flash[:action] = "show" %>
                      <%= f.hidden_field :item_id, value: @item.id %>
                      <%= f.hidden_field :quantity, value: 1%>
                      <%= f.hidden_field :price, value: @item.price %>
                      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>  
              </div>
            <% else %>
              <div class="text-center" style="color:red">
                out of stock
              </div>
            <% end -%>
          <%else%>
           <div class="text-center">
            <%= render 'buttons'%>
           </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>